/* font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:visited {
  color: black
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.opacity {
  opacity: 50%;
}

.container {
  margin: 0 auto;
  padding: 50px 70px;
  max-width: 1280px;
}

.header__content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: baseline;
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

.nav__content {
  display: flex;
  min-width: 320px;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.logo__link {
  font-size: 24px;
  letter-spacing: .2rem;
  font-family: 'Inconsolata', monospace;
}

.nav__item {
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

.page__section--title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}

.main__content {
  padding: 0 80px;
  margin: 100px 0 0 0;
}

.page__section--title-main {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 36px;
}

.section__card {
  padding-top: 20px;
}

.section__content {
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-kerning: 24;
}

.section__photo {
  width: 100%;
  height: auto;
  transition: transform 1s linear;
}

.section__photo:hover {
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 5px;
}

.section__gallery {
  display: flex;
  column-gap: 60px;
  margin-top: 130px;
}

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 100px;
  background-color: rgb(240, 233, 233);

}
.rules {
  display: flex;
  gap: 20px;
}

.social {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: 15px;
}

.grey {
  color: grey;
}

 .share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
 }

.share-logo {
  height: 25px;
}
.share-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: grey;
  text-transform: uppercase;
}



.page__comment {
  background-color: #fff;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
}

.section__article {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.page__sidebar {
  position: sticky;
  top: 0;
  padding: 15px;
  height: 110vh;
}

.section__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgrey;
  height: 150px;
}

.section__subscribe-text {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

.section__input {
  border: 0;
  border-bottom: 1px solid black;
  width: 300px;
  background-color: lightgrey;
}

.section__input::placeholder {
  font-family: 'Playfair Display', serif;
}
.section__content-strong {
  font-weight: 700;
}
.section__content-italic {
  font-style: italic;
}
.submit {
  border:  0;
  transform: translateX(-43px);
  background-color: lightgrey;
}

.button-container {
  display: flex;
  justify-content: center;
}

.load {
  line-height: 60px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding: 0 45px;
  background-color: #fff;
}

@media (max-width: 640px) {
  .section__gallery {
    flex-direction: column;
  }

  .nav__content {
    flex-direction: column;
  }

  .container {
    margin: 0 auto;
    padding: 30px 40px;
    max-width: 1280px;
  }

  .main__content {
    padding: 0 40px;
    margin: 40px 0 0 0;
  }
}
.slider_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.myslide {
  display: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.myslide img {
  margin-right: 15px;
  margin-left: 15px;
  
  width: 100%;
  height: auto;
}
.slider_wrapper a {
  cursor: pointer;
}

.slider-button {
  height: 50px;
}

.section__headers {
  padding: 50px 70px;
  max-width: 1280px;
  background-color: lightgrey;
}
.section__headers-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.section__headers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.section__comment {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.section__comment-author {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.secton__comment-avatar {
  margin: auto;
  height: 50px;
  border-radius: 50%;
}

.section__comment-input {
  display: block;
  padding: auto;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  text-indent: 25px;
  border: 1px solid gray;
  border-radius: 3px;
}

@media (min-width: 800px) {
  .section__headers-content {
    flex-direction: row;
    justify-content: center;
  }
}